#nav1 {
 color: #FFFFFF;
 opacity:1.0;
}

.buffer {
 padding: 20px;
}

.rankedDisplay {
 padding: 50px;
 min-width: 200px;
 min-height: 300px;
}

#rankedFrame {
 position: relative;
 width:100%;
 border: 5px solid #93CBBD;
 border-radius: 10px;
}
