<!DOCTYPE html>
<html>
 
 <head>
 </head>
  
  <body>
   <div class="container-fluid">
    
    <div class="row">
     <div class="col-sm-8 articleDisplay">
      <div id="articleFrame"></div>
     </div>
     <div class="col-sm-4 ratingDisplay"></div>
    </div>
     
   </div>
   
  </body>
 
</html>