<!DOCTYPE html>
<html lang="en">
 
 <head>
  <% include ../partials/head %>
 </head>
  
  <body>
   <header>
   <% include ../partials/navigation %>
   </header>
   <h1 class="welcomeHeader">Welcome!</h1><br>
    <p align="center">This site allows you to rank news articles once you have read them.</p>
   <footer>
    <% include ../partials/footer %>
   </footer>
  </body>
 
</html>