<!DOCTYPE html>
<html lang="en">
 
 <head>
  <% include ../partials/head %>
 </head>
  
  <body>
   <header>
   <% include ../partials/navigation %>
   </header>
   
    <div class="container-fluid">
     <div class="row">
      
      <div class="col-sm-8 articleDisplay" id="showArticle">
      </div>
      
      <div class="col-sm-4 ratingDisplay">
        
        <div class="row text-center">
          <div class="col col-4">
            <button type="button" class="btn btn-light" onclick="">Previous Article</button>
          </div>
          <div class="col col-4">
            <button type="button" class="btn btn-light" id="loadArticleButton" onclick="displayArticle1(); return disableButton(this);" >Load Article</button>
          </div>
          <div class="col col-4">
            <button type="button" class="btn btn-light" onclick="">Next Article</button>
          </div>
        </div>
        
        <div class="container mt-5">
          <div class="form-group">
          <select id="articleSelect" class="form-control custom-select">
            <option value="0" disabled selected>Select Article</option>
            <option value="article1">Article 1</option>
            <option value="article2">Article 2</option>
            <option value="article3">Article 3</option>
            <option value="article4">Article 4</option>
            <option value="article5">Article 5</option>
          </select>
         </div>
         
         <div class="form-group">
           <input type="number" id="ratingSelect" class="form-control" step="0.1" max="5" placeholder="Rate the Article from 1-5:" disabled>
         </div>
         <div class="col text-center">
           <button type="button" class="btn btn-light" onsubmit="submitRating(); return disableButton(this);">Submit</button>
         </div>
       </div>
      </div>
      
     </div>
    </div>
   <script type="text/javascript" src="/js/Rating.js"></script>
   <script type="text/javascript" src="/js/Article.js"></script>
   <footer>
    <% include ../partials/footer %>
   </footer>
  </body>
 
</html>
